DJANGO_SECRET_KEY=1-)@u%x!479j^7qkvw17&sju-u7gk!zeq=$leizi6$ms3c3z&t
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=migrupeta.6el1.cloud,localhost,127.0.0.1
DATABASE_URL=postgresql://ama:U6mZcvXC2Umgu0XsqYfo@postgis-postgis-zjw0dm:5432/Grupeta
CLOUDINARY_CLOUD_NAME=dtbcdepkr
CLOUDINARY_API_KEY=789555183759817
CLOUDINARY_API_SECRET=oUlwuZDE6w5liitRTmLZY7mpUr4
REDIS_URL=redis://default:jPkXxIvDhuBEYG0d3BW1@bdredis-ama-pbbqvp:6379
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=mwpg cpsl ufcc uzdq
DEFAULT_FROM_EMAIL=ama602310@gmail.com
SITE_URL=https://migrupeta.6el1.cloud
